*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050816;
    color:white;
    font-family:'Orbitron', sans-serif;
    overflow-x:hidden;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#00f5ff;
}

ul{
    display:flex;
    list-style:none;
}

ul li{
    margin-left:30px;
}

ul li a{
    text-decoration:none;
    color:white;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.tag{
    color:#00f5ff;
    letter-spacing:2px;
}

.hero h1{
    font-size:90px;
    margin:20px 0;

    text-shadow:
    0 0 10px #00f5ff,
    0 0 20px #00f5ff,
    0 0 30px #00f5ff;
}

.hero p{
    max-width:700px;
    margin:auto;
    line-height:1.8;
}

.buttons{
    margin-top:40px;
    
}

.primary-btn{
    background:#00f5ff;
    color:black;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.secondary-btn{
    background:transparent;
    color:#00f5ff;
    border:2px solid #00f5ff;
    margin-left:15px;
    padding: 10px;
    border-radius: 10px;
    
}

button:hover{
    transform:translateY(-5px);
    transition:0.3s;
}

.features{
    padding:120px 10%;
}

.section-title{
    text-align:center;
    margin-bottom:70px;
}

.section-title h2{
    font-size:3rem;
    color:#00f5ff;
    margin-bottom:15px;
}

.section-title p{
    color:#b8c1ec;
    max-width:700px;
    margin:auto;
}

.feature-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    background:rgba(255,255,255,0.05);

    border:1px solid rgba(0,245,255,0.2);

    border-radius:20px;

    padding:35px;

    transition:0.4s;

    backdrop-filter:blur(15px);
}

.card:hover{
    transform:translateY(-12px);

    box-shadow:
    0 0 15px rgba(0,245,255,0.4),
    0 0 35px rgba(0,245,255,0.2);
}

.icon{
    font-size:3rem;
    margin-bottom:20px;
}

.card h3{
    color:#00f5ff;
    margin-bottom:15px;
}

.card p{
    color:#b8c1ec;
    line-height:1.7;
}

.evolution{
    padding:120px 10%;
}

.evolution-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    margin-top:60px;
}

.evolution-card{
    background:rgba(255,255,255,0.05);

    border:1px solid rgba(0,245,255,0.2);

    border-radius:20px;

    padding:30px;

    text-align:center;

    transition:0.4s;

    backdrop-filter:blur(10px);
}

.evolution-card:hover{
    transform:translateY(-10px);

    box-shadow:
    0 0 15px #00f5ff,
    0 0 35px rgba(0,245,255,0.3);
}

.evolution-card span{
    font-size:3rem;
    color:#00f5ff;
    display:block;
    margin-bottom:20px;
}

.evolution-card h3{
    color:#00f5ff;
    margin-bottom:15px;
}

.evolution-card p{
    color:#b8c1ec;
    line-height:1.6;
}

@media(max-width:900px){

    .evolution-container{
        grid-template-columns:1fr 1fr;
    }

}

@media(max-width:600px){

    .evolution-container{
        grid-template-columns:1fr;
    }

}